# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github_play\Git-Demo\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
